<!DOCTYPE html>
<html>
<div class="topnav">
  <a class="active" href="">F&ENI</a>
  <a href="https://fandeni.it/chi-siamo/">Chi siamo</a>
  <a href="https://fandeni.it/lavora-con-noi/">Lavora con noi</a>
  <a href="https://fandeni.it/contatti/">Contatti</a>
</div>

<body>
  <div class="img-responsive">
    <img src="assets\immagine1.gif" class="immagine">
  </div>
  <p class="description">
    L'intersse di <strong>F&ENI</strong> come vedete è a tutto tondo: non ci piace lasciare nulla al caso, impegnandoci
    su diversi aspetti contemporaneamente.<br><br><br>
    Questo impegno viene in contro alle vostre esigenze in molteplici ambiti quotidiani.
    <br><br>
    <br><br>
    Dai un'occhiata ai progetti di <strong>F&ENI</strong>
  </p>
<div class="container-fluid bot-img">
  <div class="row">
    <a href="https://tech.fandeni.it" class="col-6 col-md-4 no-padding rel-pos">

      <div class="animation">
        f&eni
      </div>
      <img class="single-bot-img" src="assets\profile.jpg">
    </a>
    <a href="https://www.mindlessnerds.com/" class="col-6 col-md-4 no-padding rel-pos">

      <div class="animation">
        mindless
      </div>
      <img class="single-bot-img" src="assets\mindlessnerds.jpeg">
    </a>
    <a href="https://pastabasta.fandeni.it" class="col-6 col-md-4 no-padding rel-pos">
      <div class="animation">
        Pasta&Basta
      </div>
      <img class="single-bot-img" src="assets\PEB.jpeg">
    </a>
    <a href="https://laviano.fandeni.it" class="col-6 col-md-4 no-padding rel-pos">
      <div class="animation">
        I nostri progetti
      </div>
      <img class="single-bot-img" src="assets\NostriProgetti.jpeg">
    </a>
    <a href="https://notes.fandeni.it" class="col-6 col-md-4 no-padding rel-pos">
      <div class="animation">
        Appunti scuola
      </div>
      <img class="single-bot-img" src="assets\Appunti Scuola.jpeg">
    </a>
    <a href="https://coding.fandeni.it" class="col-6 col-md-4 no-padding rel-pos">
      <div class="animation">
        Coding
      </div>
      <img class="single-bot-img" src="assets\Coding.jpeg">
    </a>

  </div>
</div>
</body>

</html>

<!--<div class="animation-text">
        TECH BLOG
      </div>-->
